# built application files
#*.apk
#*.ap_

# files for the dex VM
#*.dex
# Java class files
#*.class
# built native files
.cxx

# Ignore gradle files
.gradle/
build/

# Mac OS X clutter
.DS_Store

# Windows clutter
Thumbs.db

# Vim clutter
.*.sw?

# Eclipse
.classpath
.project
.settings/
proguard/
.metadata/
#bin
gen
project.properties

# Android Studio / IntelliJ IDEA 
*.iws
.idea/
*.iml
# Local configuration file (sdk path, etc)
local.properties

Makefile

# build number
version.properties

# gradle wrapper
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
